/**
 * Colors variables
 *
 * Black and white, dat' is easaaaaayyy
 */

$clr-dark:          #181f21;
$clr-bright:        #F9F9F9;

$clr-blue:					#075577;
$clr-red:           #cc0000;
$clr-yellow:				#f0db4f;

// Open Source colors
$clr-os-bright:     #3fa652;
$clr-os-dark:       #21552a;

// Gap for gradients
$clr-cntrst:        #090909;